.mail-container {
    padding-top: 1rem;
    height: 100vh;
    margin-bottom: 50%;
    border-top: 1.5px solid rgba(0, 0, 0, 0.288);
}

._container {
    width: 90vw;
    margin: 0 auto;
}

.mail-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}

.mail-screen.open-screen {
    opacity: 1;
    visibility: visible;
}

.hamburger {
    visibility: hidden;
    position: absolute;
    background-color: #74747428;
    font-size: 1.7rem;
    border-radius: 10%;
    color: rgb(61, 61, 61);
    border: 0;
    /* top: 17.1%; */
    left: -30%;
}

.menu-open {
    transform: translateX(0) !important;
    box-shadow: -8px 0px 20px rgb(0 0 0 / 10%);
}

.search-img {
    width: 25px;
    height: 25px;
    margin: auto 10px;
    vertical-align: baseline;
}

.mail-side-nav {
    background-color: #DDE3FF;
    padding: 0.8rem;
    flex-basis: 25%;
    margin-right: 1rem;
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0bae48a;
    border-radius: 14px;
}
  

.bold {
    font-weight: 700;
}

.mail-search {
    position: relative;
    display: flex;
    max-width: 35%;
    margin: 1rem auto;
}

.filter-nav {
    display: flex;
    /* width: 100%; */
    padding: 0px 70px;
    justify-content: space-evenly;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 100px;
    min-width: 340px;
    margin: 0 auto;
}

.filter-nav input {
    padding: 8px;
    vertical-align: bottom;
    font-size: 0.9rem;
    border: 2px solid rgba(228, 228, 228, 0);
    background-color: rgb(240 245 255);
}

.mail-search input {
    flex-basis: 90%;
    margin-right: 0.89rem;
    color: rgb(85, 85, 85);
    outline: none;
}

.modal-mail {
    background-color: rgb(240 245 255)
}

.mail-search select {
    border: none;
    outline: none;
    padding: 8px;
    vertical-align: bottom;
    font-size: 0.9rem;
    background-color: rgb(240 245 255);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.199)
}

.filter-nav select {
    color: #7a7a7a !important;
}

.sort-mail {
    border: none;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #979797d1
}

.sort-mail-container {
    justify-content: flex-end;
}

.sort-mail:invalid {
    color: gray;
}

.sort-mail option {
    color: black;
}

.mail-img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.compose-mail {
    box-shadow: 0px 4px 2px 0px #9c719b75;
    text-decoration: none;
    margin: 1rem auto;
    padding: 0.5rem 0.8rem;
    border: 1px solid rgba(169, 147, 228, 0.836);
    border-radius: 20px;
}

.compose-mail:hover {
    background-color: rgba(239, 234, 255, 0.493);
}

.compose-mail-form input {
    border: none;
    border-bottom: 0.3px solid black
}

.mail-link {
    padding: 1rem;
    border-bottom: 1px solid #bab5b5;
}

.mail-link.active {
    border-radius: 0 30px 30px 0;
    background-color: rgba(169, 147, 228, 0.377);
}

.mail-list {
    margin: 0;
    flex-basis: 75%;
    align-content: center;
    padding: 0;
    overflow-y: scroll;
}

.mail-li {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.288);
    display: inline-block;
    flex-basis: fill;
    margin-left: 1rem;
}

.mail-prev {
    position: relative;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.2rem;
    transition: background-color 0.2s;
    cursor: pointer;
    align-items: baseline;
}

.mail-prev-navlink {
    text-decoration: none;
    color: black !important;
    /* flex-grow: 1; */
    width: 150%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-details-time {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}

.first-letter {
    display: flex;
    height: 25px;
    width: 25px;
    padding: 13px;
    margin: 0 0.6rem;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.mail-details-time .star-btn {
    align-items: center;
    /* margin-right: 1rem; */
    border: none;
    padding: 5px;
    outline: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .15s;
    color: black;
    cursor: pointer;
}



.star-btn:hover {
    background-color: transparent !important;
}

.mail-prev-time {
    margin-left: 25% !important;
    display: flex;
    align-items: center;
    /* align-self: flex-end; */
}

.mail-prev-time span {
    width: 65px;
    text-align: right;
}

.mail-prev-navlink>* {
    margin: 0 3%;
    padding: 10px 0;
}

.mail-prev-name {
    width: 50%;
    padding: 0;
    height: 1rem;
}

.mail-prev>*:not(:first-child) {
    margin-left: 3%;
    display: flex;
}

.mail-prev:hover {
    background-color: #5c00a71a !important;
}

.mail-preb-body {
    font-weight: 300 !important;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.568);
}

.new-mail-header {
    width: 100%;
    min-height: 30px;
    background-color: #010101;
    color: white;
    justify-content: center;
    align-items: center;
}

.close-mail-modal {
    position: absolute;
    right: 0%;
}

.to-input, .subject-input {
    padding: 5px;
    background-color: rgb(240 245 255);
}

.compose-mail-body {
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    background-color: rgb(240 245 255);
    /* height: 80%; */
}

.mail-edit-btns {
    position: absolute;
    visibility: hidden;
    right: 0%;
    top: 25%;
    /* right: 1%; */
}

.mail-edit-btns button {
    margin: 1px 0.1rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    outline: none;
    transition: background-color 0.1s;
}

.mail-edit-btns button:hover {
    background-color: #b9c3f175;
}

.mail-prev:hover .mail-edit-btns {
    visibility: visible;
}

.mail-prev:hover .mail-prev-time {
    visibility: hidden;
}

.mail-prev-text {
    width: 100%;
    margin-left: 10%;
    padding: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.send-mail-btn {
    position: absolute;
    left: 0%;
    bottom: 0%;
    padding: 5px;
    margin: 2px;
    width: 10%;
    background-color: transparent;
    border-radius: 5px;
    background-color: rgba(219, 208, 247, 0.123);
    border: 1px solid rgba(169, 147, 228, 0.836);
}

.send-mail-btn, .close-mail-modal {
    bottom: 0%;
    padding: 8px;
    margin: 4px;
    width: 10%;
    background-color: transparent;
    border-radius: 5px;
    background-color: rgba(219, 208, 247, 0.123);
    transition: background-color 0.2s;
    border: 1px solid rgba(169, 147, 228, 0.836);
}

.mail-details {
    border-left: 1px solid rgba(170, 170, 170, 0.589);
    padding: 0rem 1.5rem;
    width: 75%;
}

.prog-bar {
    border-radius: 2px;
}

.mail-addres {
    color: rgba(0, 0, 0, 0.562);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
    max-width: 40%;
}

.male-details-time {
    display: flex;
    align-items: center;
}

.mail-details-header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.mail-details h1 {
    margin-top: 0;
}

.mail-details span.bold {
    margin-right: 1%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 60%;
}

.mail-name-details {
    display: flex;
    width: 60%;
    align-items: center;
}

.reply-btn {
    margin-right: 1rem;
    border: none;
    padding: 5px;
    outline: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .15s;
    color: black
}

.reply-btn:hover {
    background-color: #DDE3FF;
}

.star-btn:hover {
    background-color: #DDE3FF;
}

.mail-details-body {
    padding: 5% 0;
    overflow-wrap: break-word;
}

.send-mail-btn:hover, .close-mail-modal:hover {
    background-color: rgba(219, 208, 247, 0.411);
}

i.mail-icon {
    font-size: 1rem;
}

.bold {
    font-weight: bold !important;
}

.regular {
    font-weight: 400 !important
}

.name-span {
    /* height: 10px; */
    width: 130%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prog-bar-container {
    margin: 1rem;
    text-align: center;
}

.prog-bar-box {
    background-color: #fff;
    width: 100%;
    margin-top: 0.8rem;
}

.prog-bar {
    background-color: teal;
    color: white;
}

.prog-bar-container label {
    width: 20px;
    margin: 0 auto;
}

@media only screen and (max-width: 725px) {
    .mail-search select {
        border-radius: 31px;
    }
    .mail-details-header {
        font-size: 15px;
    }
    .mail-search {
        margin-left: 22% !important;
        width: 150%;
    }
    @media only screen and (max-width: 699px) {
        .mail-side-nav {
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 100vh;
            left: 0%;
            top: 0%;
            z-index: 4;
            transform: translateX(-100%);
            background-color: rgb(243, 243, 243);
            transition: transform .8s, box-shadow .8s;
        }
        .hamburger {
            visibility: visible;
        }
        .mail-container {
            width: 98vw !important;
            padding-right: 10px;
        }
        .mail-details {
            width: 100%;
            padding: 0.3rem;
            border-left: none;
        }
        .mail-details h1 {
            font-size: 1.5rem;
        }
        .mail-addres {
            width: 60%;
        }
        .mail-list {
            flex-basis: 100%;
            display: flex;
            justify-content: flex-start;
            /* margin: 0 auto; */
        }
        .filter-nav {
            width: 250px;
            margin-right: 0;
            margin-left: 0;
        }
        .mail-search {
            margin-left: 22% !important;
            width: 150%;
            /* margin: 0; */
        }
        .send-mail-btn, .close-mail-modal {
            width: 80px;
        }
    }
    @media only screen and (max-width: 650px) {
        .filter-nav {
            min-width: 280px;
            /* width: 150%; */
            margin-right: 0;
            margin-left: 0;
            padding: 0;
        }
        .mail-search {
            margin-left: 18% !important;
            width: 150%;
            /* margin: 0; */
        }
        .mail-search input {
            width: 80px;
            min-width: 80px;
        }
    }
}

@media only screen and (max-width: 495px) {
    .mail-container {
        width: 100vw !important;
        padding: 0 20px 0 0;
    }
    .mail-details {
        padding: 0.3rem;
    }
    .first-letter {
        margin-left: 0;
    }
    .hamburger {
        /* top: 14.1%; */
    }
    .sort-mail-container {
        justify-content: center;
    }
    ._container {
        width: 100vw !important;
    }
}


