@import './modal-note.css';
@import './noteSearch.css';
@import './noteTodos.css';

.notes-input-line {
    width: 60%;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 13px 3px #cacacad1;
}

.notes-input-line>* {
    padding: 10px;
}

.notes-input-line * {
    font-size: large;
    border: none;
    outline: none;
    background-color: #fff;
}

.notes-input-line form {
    flex-grow: 1;
    border-radius: 8px 0 0 8px;
}

.notes-input-line form>input {
    color: rgb(53, 52, 52);
    width: 100%;
}

input {
    cursor: text;
}

.notes-input-btns {
    border-radius: 0 8px 8px 0;
}

.notes-input-btns>* {
    cursor: pointer;
    padding: 0 5px;
}

.notes-input-btns input, .note-btns input {
    visibility: hidden;
}

.notes-input-line i, .note-preview i {
    font-size: x-large;
    color: #a1a1a1a8
}

.pinnedNote{
    color: black;
}

.notes-input-btns i:hover {
    color: rgb(54, 54, 54);
}

.notes-input-btns input:checked+label>i {
    color: rgb(54, 54, 54);
}

.main-notes {
    margin-inline-end: 0;
    padding: 20px 60px;
    column-count: 3;
    column-width: 300px;
    justify-content: center;
}

.note-preview {
    break-inside: avoid;
    position: relative;
    padding: 20px;
    border: 2px solid rgba(231, 231, 231, 0.822);
    border-radius: 8px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 20px;
    transition: all .3s ease-out;
    line-height: 1.25rem;
    overflow-wrap: break-word;
}

.note-preview i {
    font-size: 1.4rem;
    visibility: hidden;
    opacity: 0;
}

.note-preview:hover {
    box-shadow: 0px 5px 7px 2px #0000005e;
}

.note-preview:hover i {
    visibility: visible;
    opacity: 1
}

.note-preview>*:not(:last-child) {
    margin-block-start: 0;
    cursor: pointer;
}

.note-footer {
    height: fit-content;
    align-items: flex-end;
    justify-content: space-between;
}

.note-footer .note-btns i:hover {
    cursor: pointer;
    color: black
}

.note-modal-txt {
    width: 100%;
    resize: none;
}

.colors-container {
    width: 199px;
    box-shadow: 2px 5px 11px #00000030;
    justify-content: space-evenly;
    background-color: #fffefe;
    position: absolute;
    padding: 10px;
    z-index: 2;
    border-radius: 3px;
    bottom: 49px;
    flex-wrap: wrap;
    right: 10%;
    margin-bottom: 5px;
}

.colors-container button {
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 100px;
    border: 1px solid #d6d4d486;
    box-shadow: inset 0 0px 1px 1px #f5f1f16b;
}

.pinned-notes {
    border-bottom: 2px solid rgb(226, 226, 226);
}

.note-preview img, .note-preview audio {
    width: 100%;
    margin: 15px auto;
    object-fit: cover;
}

iframe {
    margin: 15px auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:680px) {
    .container {
        width: 98vw;
        
    }
    .main-notes {
        padding: 20px 5px;
    }
    .notes-input-line {
        flex-direction: column;
        width: 75%
    }
    .notes-input-line i, .note-preview i {
        font-size: large;
    }
    .notes-input-line form>input {
        font-size: medium;
        width: 100%;
    }

    .note-modal-content {
        width: 90%;
    }
    .notes-input-btns {
        display: flex;
        justify-content: space-around;
    }
    .note-preview i {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width:900px) {
    .notes-input-btns {
        font-size: medium
    }
    .notes-input-line input {
        font-size: medium;
    }
    .notes-input-line {
        width: 90%;
    }
}