.note-modal-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;}

.note-modal-content {
    padding: 20px;
    background: white;
    width: 600px;
    min-height: 400px;
    position: relative;
    border:none
}


.note-modal-content .note-footer i{
    visibility: visible;
    opacity: 1;
}

.note-modal-content *{
    outline: none;
    border: none;
}