.note-filter {
    padding: 0px 70px;
    justify-content: space-evenly;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
}

.note-filter input {
    padding: 8px;
    vertical-align: bottom;
    font-size: 0.9rem;
    border: 2px solid rgba(228, 228, 228, 0);
    background-color: rgb(240 245 255);
}

input:focus {
    outline: none;
}

.note-filter img {
    width: 25px;
    height: 25px;
    margin: auto 10px;
    vertical-align: baseline;
}