@import './modal.css';
@import './user-msg.css';
@import './mail/mail-main.css';
@import './keep/keep-main.css';
* {
    box-sizing: border-box;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.active-nav-link {
    color: rgb(255, 153, 105);
}

body {
    background-color: rgb(240 245 255);
    margin: 0;
    padding: 0;
}

header.main-header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #dde3ff;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav.main-nav {
    display: flex;
}

.main-nav .nav-link {
    margin-left: 1rem;
}

h2.logo {
    /* flex-basis: 50%; */
    color: #FF9968
}

/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

